* {
    font-family: 'El Messiri', sans-serif;
}

h1 {
    font-weight: bold;
}

h2 {
    font-weight: bold;
}

h3 {
    font-weight: bold;
}

p {
    color: #3d4b69;
    font-size: larger;
}
span {
    color: #3d4b69;
    font-size: larger;
}

body {
    background-image: url("full-1.jpg");
}

.start {
    position: absolute;
    background-color: #2a81ea;
    width: 100%;
    height: 5vh;
    z-index: 10;
    top: 0px;
    z-index: 7;
}

.start p {
    color: white;
    padding: 10px;
    margin-left: 20px;
}

.navbar {
    background-color: white;
    position: fixed;
    top: 25px;
    z-index: 5;


}

.navicon {
    color: black;


}

.navbar ul {
    justify-content: right;
}

.navbar ul {
    margin-right: 100px;
}

.navbar ul li {
    margin-top: 10px;
}

.navbar ul .d {
    margin-top: 20px !important;

}

.navbar .nav-link {
    font-size: 20px;
    font-weight: bold;
    color: black !important;
}

.navbar .nav-link:hover {
    color: rgb(13, 112, 74) !important;
}

.navbar .dont {
    font-size: larger;
    color: white !important;
    background-color: #2a81ea;
    border-radius: 25px;
    text-decoration: none;
    padding: 10px;
}

.dont:hover {
    background-color: rgb(13, 112, 74);
    color: white !important;
}

/*home*/
/*serve*/
.serve {
    margin-top: 20px;
}

.serve-card {
    background-color: white;
    margin-top: -10px;
    box-shadow: 0px 5px 40px 0px rgb(80 101 142 / 50%);

}

.serve-card-img {
    border-top: 1px white;
    border-top-left-radius: 15px;
    height: 30%;

    width: 100%;
}

.serve-card {
    font-weight: bold;
    border-end-end-radius: 15px;
    box-sizing: border-box;


}

.serve-card p {
    margin: 10px;
    padding: 10px;
}

.serve-card h3 {
    margin-top: 10px;
    font-weight: bold;
    text-align: center;

}

/*media*/
.box-container  img {
    width: 100%;
    height: 100%;
}

.item {
    transition: 0.5s ease-in-out;
    overflow: hidden;
}

.item:hover {
    filter: brightness(60%);

}

.item img {
    border-radius: 10px;
    cursor: pointer;
}
#zoomIn{
    transform: scale(1);
    transition: 0.3s ease-in-out;
}
#zoomIn:hover{
    transform: scale(1.5);
}

/*contact*/
.contact {
    font-size: 20px;


}

.contact span {
    color: #3d4b69;
    font-size: 27px;

}

.contact-p {
    padding: 10px;
}

/*===========footer===========*/
#footer {
    background: #222222;
    color: white;
    font-size: 14px;
    text-align: center;
    padding: 30px 0;
}
#footer h1 {
    color: white;

}
#footer p {
    color: white;
    text-align: center;
    font-size: 18px;
    padding: 10px;
}
#footer h3 {
    font-size: 36px;
    font-weight: 700;
    position: relative;
    font-family: "Poppins", sans-serif;
    padding: 0;
    margin: 0 0 15px 0;
    color: white;
}

#footer p {
    font-size: 15;
    font-style: italic;
    padding: 0;
    margin: 0 0 40px 0;
}

#footer .social-links {
    margin: 0 0 40px 0;
}

#footer .social-links a {
    font-size: 18px;
    display: inline-block;
    background: #0563bb;
    color: #fff;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
}

#footer .social-links a:hover {
    background: #0678e3;
    color: #fff;
    text-decoration: none;
}

#footer .copyright {
    margin: 0 0 5px 0;
}

#footer .credits {
    font-size: 13px;
}
#footer ul li a{
  color: white;
  text-align: left;
  padding: 10px;
  font-size: 20px;
}
.roww{
    display: flex;
}
.contactus{
    text-align: center;
}
.contactus {
    font-size: 15px;


}

.contactus span {
    text-align: left;
    color: #3d4b69;
    font-size: 30px;
    display: inline-block;

}
.ma5fy{
    display: none;
}
.app-footer{
    color: white !important;
    background-color: rgb(13, 112, 74);
    border-radius: 15px;
}
hr{
    background-color: white;
}
@media(max-width:780px) {
    .navicon {
        font-size: 20px;
        margin-right: 15px;

    }

    .collapse {
        background-color: #333;

    }

    .navbar .nav-link {
        color: #aaaaaa !important;
    }

    .dd {
        display: none;
    }

    .navbar ul li {
        border: 1px black solid;
        padding: 10px;

    }

    .navbar ul li a {
        margin-left: 50px;
    }

    .navbar ul .d {
        margin-top: 0px !important;
    }

    .doc-img {
        order: 1;
    }

    .head1 {
        order: 2;

    }

    .head2 {
        order: 3;
    }
    .roww{
        display: block;
    }
    .ma5fy{
        display: block;
    
    }
    .links{
        text-align: left;
    }

}


@media(max-width:700px) {
    .navbar-brand img {
        width: 50% !important;
        height: 6vh !important;

    }

    .navbar ul li a {
        margin-left: 20px;
    }
    .collapsible{
        font-size: smaller;
    }

}
@media(max-width:360px) {
    .navbar-brand img {
        width: 50% !important;
        height: 6vh !important;

    }
}