body{
    text-align: right;
}
.start p{
    text-align: left;
}
.navbar .nav-link {
    font-size: 18px !important;
}
.menu-btn__burger{
    text-align: left !important;
}
.mar{
    margin-top: 140px !important;
}
@media(max-width:780px){
    .del{
        display:none;

    }
    .show{
        display:block;

    }
    .navbar-brand{
        position: relative;
        left:-73px;
        width:100% !important;
    }
}
    
