body{
    text-align: right;
}
.start p{
    text-align: left;
}
.navbar .nav-link {
    font-size: 18px !important;
}
.menu-btn__burger{
    text-align: left !important;


}
.mar{
    margin-top: 140px !important;
}
    
